{% extends 'base.html' %}


{% block content %}

<main class="container">

    <div class="row">

        <div class="col-md-4 offset-md-4">

            <h1 class= "text-center display-3 py-5">Create Task</h1>

            {{error}}
            <form action="/tasks/create/" method="post" class="card card-body">

                {% csrf_token %}

                {{form}}

                <button class="btn btn-primary"> Save</button>

            </form>

        </div>
    </div>
</main>


{% endblock %}