{% extends 'base.html' %} {% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>

    <div class="container pt-5">
      <div class="row">
        <div class="">
          <p>La aplicación web que he creado utilizando Django y Bootstrap ofrece una funcionalidad completa de CRUD para la gestión de tareas. Con esta aplicación, los usuarios pueden crear nuevas tareas, editar las existentes y marcarlas como completadas una vez que se hayan realizado.</p>
  
          <p>Además de la funcionalidad de CRUD, la aplicación también cuenta con un sistema de usuarios. Esto significa que los usuarios pueden registrarse en la aplicación, iniciar sesión y guardar sus propias listas de tareas. De esta manera, cada usuario tiene su propia lista de tareas personalizada y puede acceder a ella en cualquier momento.</p>
          <p>La interfaz de usuario de la aplicación es fácil de usar y está diseñada con Bootstrap, lo que proporciona una experiencia de usuario fluida y agradable. La aplicación también es altamente escalable, lo que significa que puede manejar fácilmente un gran número de usuarios y tareas.</p>
          <p>En resumen, la aplicación que he creado es una aplicación web de gestión de tareas completa que ofrece funcionalidades de CRUD, un sistema de usuarios y una interfaz de usuario intuitiva y fácil de usar.</p>
        </div>
      </div>
    </div>

    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">Signin</a>
        <a class="btn btn-dark" href="/signup/">Signup</a>
    </div>
  </section>
</main>

{% endblock %}
