{% extends 'base.html' %}


{% block content %}

<h1>Home</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, eveniet voluptatem ipsam quia obcaecati enim accusantium adipisci quam officia fugit aut perferendis laudantium reiciendis? Vitae et dolorem tenetur commodi maxime autem mollitia animi odio, cum voluptatem perferendis, pariatur error qui quod iusto porro. Minima iste illo qui recusandae quos possimus voluptatum dolore, veritatis modi nihil fuga repellendus porro rem, necessitatibus enim ducimus optio consequuntur, facere praesentium? Nemo dolore minima ipsa non dolores tempora. Eveniet error architecto repudiandae, est neque ex et, perferendis soluta illum consectetur optio aperiam suscipit odit natus asperiores at. Nulla dolore mollitia similique molestiae. Dolorum, ducimus autem.</p>
{% endblock %}