{% extends 'base.html' %}


{% block content %}

<main class="container">

    <div class="row">

        <div class="col-md-4 offset-md-4">

            <h1 class="text-secondary">{{task.title}}</h1>

            {{error}}

            <div class="mt-5 justify-content-between">

                <form method="post">

                    {% csrf_token %}
                    {{form.as_p}}
    
                    <button class="btn btn-primary mt-1"> Update</button>
                </form>
                <form action="{% url 'complete_task' task.id %}" method="post">
                    {% csrf_token %}
    
                    <button class="btn btn-secondary mt-1">Complete</button>
                </form>
    
    
                <form action="{% url 'delete_task' task.id %}" method="post">
                    {% csrf_token %}
    
                    <button class="btn btn-danger mt-1">Delete</button>
                </form>


            </div>
           
        </div>
    </div>
</main>


{% endblock %}